body{
    background-color: #BBE6E4;
}
div{
    text-align: center;
}
h1{
    font-size: 80px;
    font-family: Impact;
    
}
button{
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
    border-radius: 20px;
    /* border: none; */
    cursor: pointer;
    font-size: 20px;
    transition: 2s;
}
p{
    font-size: 25px;
}
button:hover{
    background-color: green;
}
